.event {
    border: #2D2C2C 2px solid;
    border-radius: 10px;
    background-color: #f6f6f6;
    color: #2D2C2C;
    padding-right: 20px;
}

.eventItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: auto;
}

.eventItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.containerLogo {
    display: flex;
    align-items: center;
  }

  .sponsorlogos {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  .sponsorlogos img {
    margin-bottom: 10px;
    height: auto;
    width: 300px;
    object-fit: contain;
  }

@media screen and (max-width: 1000px) {
    .eventItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        width: 80%;
    }

    .eventItem img {
        width: 300px;
        height: auto;
        justify-self: center;
    }

    .eventItemContainer h2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sponsorlogos {
        display: flex;
        flex-direction: row; 
        gap: 20px; 
      }

    

}

@media screen and (max-width: 400px) {

    .eventItem img {
        width: 200px;
        height: auto;
        justify-self: center;
    }

}

