.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 25px;
    background-color: #EC1B7E;
    color: #E3FCEF;
}
  
.contact_info {
    flex-direction: column;
    display: flex;
    align-items: space-around;
}

.contact_info h4 {
    margin: 0;
    font-size: 16px;
}

.logos {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px; 
}
  
.logos img {
    width: 40px;
    height: 40px;
}
  