.header h1 {
    font-size: 54px;
    color: #EC1B7E;
    padding-bottom: 0px;
    margin-top: 30px;
}

.header h2 {
    font-size: 30px;
    color: #EC1B7E;
    margin-top: -30px;
}
.header img {
    height: 250px;
    width: auto;
    display: flex;
    justify-self: center;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


