:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #EC1B7E;
  background-color: #E3FCEF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.FrontPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}

.TitleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: auto;
  margin-bottom: -30px;
}

.footer {
  width: 100%;
}

.video {
  width: 50vw;
  height: 30vw;
  background-color: aqua;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px ;
  font-size: 40px;
}

Header h1 {
  margin-bottom: -10px;
}