.somebox {
    background-color: #F6F6F6;
    border: #2D2C2C 2px solid;
    width: 70vw;
    height: 40vw;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 100px;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.post {
    width: 16vw;
    height: 28vw;
    background-color: #EC1B7E;
    border-radius: 10px;
    border: #2D2C2C 2px solid;
    margin-top: 20px;
}