.textbox {
    width: 75vw;
    height: auto;
    color: #2D2C2C;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: #2D2C2C 2px solid;
}

.textbox_text {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    white-space:pre-line;
}
.korostettu-linkki {
    color: #e6007e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .vinkkilaatikko {
    background-color: #eaf8f1;
    border-left: 5px solid #e6007e;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
  }
  
@media screen and (max-width: 600px) {
    .textbox_text {
    width: 92%;
}

    .textbox {
    width: 90vw;

}}