.textbox {
    width: 75vw;
    height: auto;
    color: #2D2C2C;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: #2D2C2C 2px solid;
    transition: width 0.3s ease;
    flex-direction: row;
}

.textbox_text {
    width: 95%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    white-space: pre-line;
}

.korostettu-linkki {
    color: #EC1B7E;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.vinkkilaatikko {
    background-color: #F6F6F6;
    border-left: 5px solid #EC1B7E;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.textbox-expanded {
    width: 90vw; 
    height: auto;
}

.textbox-expanded h4 {
    padding-left: 15px;
    padding-right: 15px;
}


@media screen and (max-width: 750px) {
    .textbox {
        flex-direction: column; /* Siirretään vinkkilaatikko alle */
        align-items: center; /* Keskitetään sisältö */
    }

    .vinkkilaatikko {
        border-left: none; /* Poistetaan vasen reuna */
        border-top: 5px solid #EC1B7E; /* Lisätään yläreuna */
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        margin-top: 10px; /* Lisätään väli tekstin ja laatikon väliin */
    }
}



@media screen and (max-width: 600px) {
    .textbox_text {
        width: 92%;
    }

    .textbox {
        width: 90vw;
    }
}
